* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(3, 13, 36);
}

span {
    color: rgb(243, 237, 237);
    font-size: 13px;
}

.container {
    width: 40%;
    margin: 300px auto;
}

.container form {
    width: 100%;
}

.container form .input-group {
    width: 100%;
    margin: 5px 0;
}

.container form .input-group .form-control {
    border-radius: 3px;
}

.container form .input-group .form-control:focus {
    outline: none;
}

.container form .input-group .form-control::placeholder {
    color: rgb(49, 47, 47);
}

.container form .input-group .btn-custom {
    background: brown;
    color: aliceblue;
    margin: 8px 0;
}